.main {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
}

.main-content {
	font-size: 1rem;
	max-width: 40rem;
	margin: 0 auto;

	h2 {
		margin-top: 0;
		line-height: 1.3;
	}
}

.main img {
	display: block;
	width: 250px;
	align-self: center;
	margin-bottom: 1em;
	border-radius: 1em;
}

.main-contact {
	cursor: pointer;
}

.accent-text {
	color: #007fff;
}

// Phone/Tablet

@media (min-width: 1224px) and (max-width: 1824px) {
	.main-content {
		max-width: 40rem;
		margin: 0 auto;
	}
}

// Desktop/Bigger

@media (min-width: 1824px) {
	.main-content {
		max-width: 40rem;
		margin: 0 auto;
	}
}
