*,
::before,
::after {
	box-sizing: border-box;
	font-family: 'Hubot Sans', sans-serif;
}

@font-face {
	font-family: 'Hubot Sans';
	src: url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
		url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

html {
	line-height: 1.4;
	background: rgb(17, 16, 16);
	background: linear-gradient(
		90deg,
		rgba(17, 16, 16, 1) 0%,
		rgba(18, 18, 18, 1) 100%
	);
}

body {
	margin: 0 auto;
	color: #fff;
	line-height: inherit;
	max-width: 80%;
	font-size: 1rem;
}

// Projects

.projects-header {
	text-align: center;
}
