*,
::before,
::after {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	line-height: 1.4;
	background: rgb(17, 16, 16);
	background: linear-gradient(
		90deg,
		rgba(17, 16, 16, 1) 0%,
		rgba(18, 18, 18, 1) 100%
	);
}

body {
	margin: 0 auto;
	color: #fff;
	line-height: inherit;
	max-width: 80%;
	font-size: 0.8rem;
}

// Header

header {
	display: flex;
	justify-content: space-between;
}

.header-name {
	margin: 0;
	padding: 0;
	width: 75%;
	font-size: 1rem;
	align-self: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-right: 0.5em;
}

.header-links {
	margin: 0;
	padding: 0;
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	p {
		padding-right: 0.5em;
	}
	p:last-of-type {
		padding-right: 0;
	}
}

// Main

main {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.main-content {
	font-size: 0.76rem;
	margin-right: 1em;
	max-width: 30rem;

	h2 {
		margin-top: 0;
		line-height: 1.3;
	}
}

img {
	display: block;
	width: 150px;
	height: 275px;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 1em;
}

.accent-text {
	color: #9258ff;
}
