*,
::before,
::after {
	box-sizing: border-box;
	font-family: 'Hubot Sans', sans-serif;
}

@font-face {
	font-family: 'Hubot Sans';
	src: url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
		url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

html {
	line-height: 1.4;
	background: rgb(17, 16, 16);
	background: linear-gradient(
		90deg,
		rgba(17, 16, 16, 1) 0%,
		rgba(18, 18, 18, 1) 100%
	);
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: inherit;
	font-size: 1rem;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

// Phone/Tablet

@media (min-width: 1224px) {
	.container {
		max-width: 75%;
	}
}

// Desktop/Bigger

@media (min-width: 1824px) {
	.container {
		max-width: 50%;
	}
}
