.project-image {
	display: none;
}

.project-card {
	background: rgb(34, 32, 32);
	padding: 1em;
	border-radius: 1em;
	margin-bottom: 2em;

	h3 {
		margin: 0;
		padding: 0;
	}
}

.project-links {
	padding: 1em 0;
}

.project-links .links {
	margin-right: 0.5em;
	text-transform: capitalize;
}

.project-links .source-link {
	background: #fff;
	color: #000;
}

.project-links .source-link:hover {
	background: #e4e4e4;
}

.project-language {
	padding: 0.5em 1em;
	font-size: 0.7rem;
	margin-right: 0.5em;
	background: #e4e4e4;
	color: #000;
	border-radius: 0.25em;
	border: 1px solid #9258ff;
}
